{% load js %}
{% load static %}

<script type="text/javascript" src="{% static 'js/deployggb.js' %}"></script>
<select name="appName" id="appName">
  <option disabled selected value> -- select calculator type --</option>
  <option value="classic">Classic</option>
  <option value="graphing">Graphing</option>
  <option value="3d">3D</option>
  <option value="suite">Suite</option>
  <option value="evaluator">Evaluator</option>
</select>
<div class="contentBox" id="contentBox">
  <script type="text/javascript">
      function getAppName() {
          return document.getElementById('appName').value
      }

      document.getElementById("appName").addEventListener('change', function (event) {
          const parameters = {
              "id": "ggbApplet",
              "appName": getAppName(),
              "width": {{ widget.geogebra.ADMIN_WIDGET.width|js }},
              "height": {{ widget.geogebra.ADMIN_WIDGET.height|js }},
              "showToolBar": {{ widget.geogebra.ADMIN_WIDGET.show_toolbar|js }},
              "showMenuBar": {{ widget.geogebra.ADMIN_WIDGET.show_menubar|js }},
              "showAlgebraInput": {{ widget.geogebra.ADMIN_WIDGET.show_algebra_input|js }},
              "showTutorialLink": {{ widget.geogebra.ADMIN_WIDGET.show_tutorial_link|js }},
              "showLogging": {{ widget.geogebra.ADMIN_WIDGET.show_logging|js }},
              "showToolBarHelp": {{ widget.geogebra.ADMIN_WIDGET.show_toolbar_help|js }},
              "allowStyleBar": {{ widget.geogebra.ADMIN_WIDGET.allow_style_bar|js }},
              "borderColor": {{ widget.geogebra.ADMIN_WIDGET.border_color| js }},
              "enableLabelDrags": {{ widget.geogebra.ADMIN_WIDGET.enable_label_drags|js }},
              "enableShiftDragZoom": {{ widget.geogebra.ADMIN_WIDGET.enable_shift_drag_zoom|js }},
              "capturingThreshold": {{ widget.geogebra.ADMIN_WIDGET.capturingThreshold|js }},
              "errorDialogsActive": {{ widget.geogebra.ADMIN_WIDGET.error_dialogs_active|js }},
              "useBrowserForJS": {{ widget.geogebra.ADMIN_WIDGET.use_browser_for_JS|js }},
              {% if widget.value %}
                  "ggbBase64": "{{ widget.value }}",
              {% endif %}
          };
          const applet = new GGBApplet(parameters, true);
          applet.inject('applet_container');

          window.onsubmit = function () {
              document.getElementById("{{ widget.name }}").value = applet.getAppletObject().getBase64();
          }

          document.getElementById('content-main').getElementsByTagName('form')[0].addEventListener("submit", function (event) {
              if (!['_save', '_addanother', '_continue'].includes(event.submitter.name)) {
                  event.preventDefault();
              }
          });
      })
  </script>
  <div id="applet_container"></div>
  <input type="hidden" name="{{ widget.name }}" id="{{ widget.name }}">
</div>
